.contato-bg h1 {
@include tipo-2(72)
}
.contato {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
padding: 30px 20px;
}
.footer-formulario {
padding: 30px 114px 0px 0px;
border-right: 2px solid $branco-0;
}
.endereco {
padding: 30px 0px 30px 114px;
}
.endereco h3 {
  @include tipo-1(18);
}
.endereco p {
  @include tipo-1(14);
}
.button-formulario {
width: 230px;
height: 40px;
background: $cinza-1;
border-radius: 5px;
z-index: 3;
transition: 0.3s;
text-transform: uppercase;
}
.button-formulario:hover {
opacity: 1;
background-color: $azul-1;
transform: scale(1.1);
}
.button-formulario a {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
width: 230px;
height: 40px;
@include tipo-1(18);
}
.button-formulario img {
margin-left: 20px;
}
.contato h3 {
font-weight: bold;
padding-top: 15px;
padding-bottom: 18px;
}
.contato p + p{
padding-top: 8px;
}

.contato .item-2 ul li{
padding-top: 8px;
@include tipo-1(14);
}
.contato .item-2::after {
content: "";
grid-column: 1 / -1;
justify-self: center;
display: block;
width: 270px;
height: 2px;
margin-top: 15px;
background: $branco-0;
}
.contato .item-1::after {
content: "";
grid-column: 1 / -1;
justify-self: center;
display: block;
width: 270px;
height: 2px;
background: $branco-0;
}
.item-contato {
border-radius: 5px;
z-index: 3;
transition: 0.3s;
}
.item-contato a {
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
width: 100%;
height: 40px;
@include tipo-1(14);
}
.item-contato img {
margin-left: 10px;
}
.endereco {
position: relative;
}
.endereco::before {
content: "";
top: 0px;
right: 0px;
background-image: url('../assents/svg/bg-icones.svg');
display: inline-block;
width: 220px;
height: 336px;
position: absolute;
}
@include d(t) {
.contato-bg h1 {
font-size: 2.5rem;
}
.contato {
grid-template-columns: 1fr;
padding: 0px 20px;
}
.footer-formulario {
padding: 40px;
border-right: none;
border-bottom: 2px solid $branco-0;
}
.endereco {
padding: 40px;
}
.button-formulario {
width: 200px;
}
.button-formulario a {
width: 200px;
height: 40px;
font-size: 1rem;
}
.button-formulario img{
margin-left: 5px;
}
.contato .item-2::after {
width: 200px;
}
.contato .item-1::after {
width: 200px;
}
.endereco::before {
display: none;
}
}