.form-1 {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 100px;
padding-top: 73px;
@include d(f) {
  grid-template-columns: 1fr;
  gap: 40px;
  }
}
.form {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 22px;
@include d(f) {
  grid-template-columns: 1fr;
  }
}
.form label {
display: block;
font: 700 1.125rem/1.3 "Nunito", sans-serif;
margin-bottom: 4px;
color: $cinza-1;
}
.form .col-2 {
grid-column: span 2;
@include d(f) {
  grid-column: 1;
  }
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
font: 500 1.125rem/1.3 "Nunito", sans-serif;
background: $branco-0;
padding: 8px;
width: 100%;
box-sizing: border-box;
transition: 0.5s ease-out;
border-radius: 5px;
border: 0px;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus {
outline: none;
background: $cor-2;
}
