.frase-bg {
width: 100%;
height: 480px;
background-image: url('../assents/img/mar.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 70px;
}
.frase{
max-width: 100%;
height: 480px;
display: grid;
box-sizing: border-box;
grid-template-columns: 1fr;
justify-content: center;
align-items: end;
padding: 20px;
}
.frase h2 {
  @include tipo-2(72);
}
.frase p{
align-self: start;
@include tipo-1(18);
}
@include d(t) {
.frase h2 {
font-size: 2.5rem;
max-width: 100%;
text-align: center;
}
}