.frase-bg {
width: 100%;
background-image: url('../assets/img/mar.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-bottom: 70px;
}
.frase {
max-width: 100%;
display: grid;
box-sizing: border-box;
grid-template-columns: 1fr;
justify-content: center;
align-items: end;
padding: 150px 20px 150px 20px;
}
.frase p {
@include tipo-2(72);
max-width: 639px;
text-align: center;
@include d(t) {
  font-size: 2.5rem;
  max-width: 100%;
  text-align: center;
  }
}
.frase footer p{
align-self: start;
@include tipo-1(18);
}