.matricule-se-bg {
background-color: $branco-0;
width: 100%;
height: 120px;
display: flex;
flex-wrap: nowrap;
gap: 100px;
justify-content: center;
align-items: center;
@include d(m) {
height: auto;
gap: 50px;
}
}
.matricule-se-bg h1 {
@include tipo-2(72);
@include d(m) {
font-size: 2.5rem;
padding: 20px;
}
}
.container-form {
max-width: 1460px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
}
.matricula{
margin: auto;
}
::-webkit-input-placeholder {
color: $branco-1; 
font: 500 1.125rem/1.3 "Nunito", sans-serif;
}
:-moz-placeholder {
color: $branco-1; 
font: 500 1.125rem/1.3 "Nunito", sans-serif;
}
::-moz-placeholder {
color: $branco-1; 
font: 500 1.125rem/1.3 "Nunito", sans-serif;
}
:-ms-input-placeholder {  
color: $branco-1;  
font: 500 1.125rem/1.3 "Nunito", sans-serif;
}
.estado {
position: relative;
}
.estado::after {
content: "";
width: 10px;
height: 10px;
top: 15px;
right: 15px;
background: url('../assets/svg/vetor-seta.svg') no-repeat center;
background-size: 100% 100%;
position: absolute;
}
.dados {
padding-left: 20px;
padding-right: 20px;
padding-bottom: 64px;
padding: 0px 20px 64px 20px;
}
.dados h2 {
font-weight: bold;
padding: 20px 20px 15px 0px;
border-bottom: 2px solid $branco-0;
grid-column: 1 / -1;
@include tipo-1(18);
}
.pagamento {
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
padding: 8px 0px 0px 0px;
grid-column: 1 / -1;
max-width: 412px;
}
.pagamento .cartaoCredito {
color: $cinza-1;
background-color: $cor-0;
cursor: pointer;
display: grid;
gap: 0px;
grid-template-columns:auto auto;
justify-content: center;
align-items: center;
padding: 14px 2px;
white-space: wrap;
text-align: center;
border-left: 2px solid $branco-0;
border-bottom: 2px solid $branco-0;
border-top: 2px solid $branco-0;
border-radius: 5px 0 0 5px;
}
.pagamento .boletoBancario {
color: $cinza-1;
background-color: $cor-0;
cursor: pointer;
display: grid;
gap: 0px;
grid-template-columns:auto auto;
justify-content: center;
align-items: center;
padding: 14px 10px;
white-space: wrap;
text-align: center;
border-right: 2px solid $branco-0;
border-bottom: 2px solid $branco-0;
border-top: 2px solid $branco-0;
border-radius: 0 5px 5px 0;
}
.pagamento input{
opacity: 0;
position: absolute;
pointer-events: none;
}
.pagamento input:checked + label{
background: $branco-1;
}
.pagamento label::before {
content: "";
display: inline-block;
box-sizing: border-box;
width: 18px;
height: 18px;
margin-right: 10px;
border: 1px solid $azul-1;
border-radius: 50%;
justify-self: end;
@include d(m) {
display: none;
}
}
.pagamento input:checked + label::before {
border-color: $cor-0;
box-shadow: inset 0 0 0 5px $azul-1, inset 0 0 0 6px $cor-0;
} 
.data-expiracao {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
justify-content: center;
align-items: center;
}
.item-matricula {
width: 230px;
height: 40px;
background: $azul-1;
border-radius: 5px;
z-index: 3;
transition: 0.3s;
margin-top: 15px;
}
.item-matricula:hover {
opacity: 1;
background-color: $azul-1;
transform: scale(1.1);
}
.item-matricula a {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
width: 100%;
height: 40px;
text-transform: uppercase;
@include tipo-1(18)
}
.realizar-matricula {
padding-top: 20px;
border-top: 2px solid $branco-0;
grid-column: 1 / -1;
}
.realizar-matricula p {
@include tipo-1(18);
}
.cadeado {
display: grid;
grid-template-columns: auto 1fr;
justify-content: center;
align-items: center;
grid-column: 1 / -1;
@include d(m) {
margin-bottom: 0px;
}
}
.cadeado p {
@include tipo-1(14);

}
.cadeado img{
margin-right: 10px;
}
.container-plano {
@include d(f) {
max-width: 1460px;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
padding-right: 8px;
padding-left: 8px;
grid-row: 1;
}
} 
.plano-bg {
background: $branco-0;
width: 430px;
height: 580px;
border-radius: 5px;
z-index: 0;
margin-bottom: 30px;
@include d(m) {
max-width: 290px;
height: 531px;
}
}
.plano {
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
align-items: center;
padding: 20px 40px;
position: relative;
}
.plano h2:first-child {
padding: 37px 30px 20px 0px;
grid-column: 1 / -1;
@include tipo-1(18);
@include d(m) {
padding: 0px 30px 20px 0px;
}
}
.plano h2:last-child {
padding: 37px 30px 43px 30px;
}
.plano label {
color: $cinza-1;
background-color: $cor-0;
cursor: pointer;
display: grid;
grid-template-columns:auto auto;
justify-content: center;
align-items: center;
padding: 10px 6px;
font-weight: 600;
@include tipo-1(18);
@include d(m) {
padding: 10px 5px;
}
}
.plano input{
opacity: 0;
position: absolute;
pointer-events: none;
}
.plano input:checked + label{
background: $branco-1;
}
.plano label::before {
content: "";
display: inline-block;
box-sizing: border-box;
width: 18px;
height: 18px;
margin-right: 5px;
border: 1px solid $azul-1;
border-radius: 50%;
justify-self: end;
@include d(m) {
display: none;
}
}
.plano input:checked + label::before {
border-color: $cor-0;
box-shadow: inset 0 0 0 5px $azul-1, inset 0 0 0 6px $cor-0;
} 
.plano::before {
content: "";
bottom: -400px;
left: 110px;
background-image: url('../assets/svg/bg-icones.svg');
display: inline-block;
width: 220px;
height: 336px;
position: absolute;
@include d(f) {
display: none;
}
}
.faixa-infantil {
display: none;
grid-column: 1 / -1;
-webkit-box-shadow: 0px 10px 10px 0px rgba(187, 204, 221, 0.4);
-moz-box-shadow: 0px 10px 10px 0px rgba(187, 204, 221, 0.4);
box-shadow: 0px 10px 10px 0px rgba(187, 204, 221, 0.4);
}

.center-container{
margin: 0 auto;
margin-top: 30px;
}
.faixa-infantil .icone-logo img {
position: absolute;
top: -21px;
z-index: 3;
}
.plano .faixa-infantil {
background: $cor-0;
width: 370px;
height: 374px;
border-radius: 5px;
@include d(m) {
max-width: 270px;
height: 380px;
}
}
.input-infantil {
border-left: 2px solid $branco-0;
border-right: 2px solid $branco-0;
border-bottom: 2px solid $branco-0;
border-top: 2px solid $branco-0;
border-radius: 5px 0px 0px 5px;
}
.input-profissional {
border-right: 2px solid $branco-0;
border-left: 2px solid $branco-0;
border-bottom: 2px solid $branco-0;
border-top: 2px solid $branco-0;
border-radius: 0px 5px 5px 0px;
}
.faixa-infantil h2 {
padding-top: 37px;
padding-bottom: 40px;
text-transform: uppercase;
width: 231px;
font-weight: 700;
@include tipo-1(18);
}
.faixa-infantil ul {
@include tipo-1(14);
}
.faixa-infantil .vantagens{
display: block;
height: auto;
padding: 0px 80px 0px 69px;
@include d(m) {
padding: 0px 30px;
}
}
.faixa-infantil .vantagens::after {
content: "";
grid-column: 1 / -1;
justify-self: center;
display: block;
width: 231px;
height: 2px;
margin-top: 25px;
background: $branco-0;
@include d(m) {
width: 210px;
}
}
.faixa-infantil .vantagens::before {
content: "";
grid-column: 1 / -1;
justify-self: center;
display: block;
width: 231px;
height: 2px;
margin-bottom: 25px;
background: $branco-0;
@include d(m) {
width: 210px;
}
}
.faixa-infantil .vantagens li::before {
display: inline-block;
content: '';
width: 6px;
height: 6px;
background: $cor-0;
border-radius: 50%;
margin-right: 4px;
border: 2px solid $vermelho-0;
}
.faixa-infantil .vantagens li + li{
padding-top: 25px;
}
.faixa-infantil .preco-aula {
padding: 20px 150px 0px 69px;
@include d(m) {
padding: 20px 30px;
}
}
.faixa-infantil .preco-aula p{
@include tipo-1(18)
}
#infantil:checked ~ #faixa-infantil,
#adulto:checked ~ #faixa-adulto,
#profissional:checked ~ #faixa-profissional {
display: block;
}
