.rodape-bg {
background: $azul-1;
width: 100%;
height: auto;
}
.rodape {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 40px;
padding: 45px;
}
.rodape h3 {
  @include tipo-1(18);
}
@media (max-width: 600px) {
.rodape {
text-align: center;
}
.rodape img {
display: none;
}
}