.rodape-bg {
background: $azul-1;
width: 100%;
height: auto;
}
.rodape {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
gap: 40px;
padding: 45px;
@include d(m) {
  text-align: center;
  }
}
.rodape h3 {
  @include tipo-1(18);
}
.rodape img {
  @include d(m) {
  display: none;
  }
}