$cor-0: #ffffff;
$cor-1: #fcfcfc;
$cor-2: #ededed;
$cor-3: #cccccc;
$cor-4: #b2b2b2;
$cor-5: #9c9c9c;
$cor-6: #717171;
$cor-7: #595959;
$cor-8: #404040;
$cor-9: #2e2e2e;
$cor-10: #2e2e2e;
$cor-11: #1a1a1a;
$cor-12: #0e0e0e;
$cor-13: #000000;
$azul-0: #269bff;
$azul-1: #1188ee;
$azul-2: #0467cc;
$branco-0: #eff4f9;
$branco-1: #bbccdd;
$branco-2: #99aabb;
$cinza-0: #667788;
$cinza-1: #445566;
$cinza-2: #17222d;
$vermelho-0: #ff3726;
$vermelho-1: #ee2211;
$vermelho-2: #d91504;


$f-device: 1200px;
$s-device: 1000px;
$t-device: 800px;
$m-device: 600px;

// Tipografia
@mixin tipo-1($tamanho) {
  font-family: 'Nunito', sans-serif;
  @if $tamanho == 14 {
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
  } @else if $tamanho == 18 {
    font-size: 18px;
    line-height: 1.3;
  } @else if $tamanho == 24 {
    font-size: 24px;
    line-height: 1.3;
  }
}
@mixin tipo-2($tamanho) {
  font-family: 'Alice', sans-serif;
  @if $tamanho == 72 {
    font-size: 72px;
    font-weight: 400;
  }
}

@mixin d($dispositivo) {
  @if $dispositivo == f {
    @media (max-width: $f-device) {
      @content;
    }
  } @else if $dispositivo == s {
    @media (max-width: $s-device) {
      @content;
    }
	} @else if $dispositivo == t {
    @media (max-width: $t-device) {
      @content;
    }
  } @else if $dispositivo == m {
    @media (max-width: $m-device) {
      @content;
    }
  }
}

