.aulas-bg {
background: var(--cor-p4);
position: relative;
}
.aulas-bg .imagem-ondas{
position: absolute;
top: -30px;
left: 50%;
margin-left: -90px;
}
.aulas-bg h1 {
padding-top: 63px;
}
.aulas {
padding-top: 44px;
padding-bottom: 30px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 50px;
position: relative;
}
.aulas .faixa {
background-color: var(--cor-0);
width: 370px;
height: auto;
border-radius: 5px;
}
.icone-logo {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
position: relative;
}
.faixa .icone-logo img {
position: absolute;
top: -21px;
}
.faixa h2 {
padding-top: 37px;
padding-bottom: 40px;
text-transform: uppercase;
width: 231px;
font-weight: 700;
}
.faixa .vantagens{
display: block;
width: 220px;
height: auto;
padding: 0px 80px 0px 69px;
}
.faixa .vantagens::after {
content: "";
grid-column: 1 / -1;
justify-self: center;
display: block;
width: 231px;
height: 2px;
margin-top: 25px;
background: var(--cor-p4);
}
.faixa .vantagens::before {
content: "";
grid-column: 1 / -1;
justify-self: center;
display: block;
width: 231px;
height: 2px;
margin-bottom: 25px;
background: var(--cor-p4);
}
.faixa .vantagens li::before {
display: inline-block;
content: '';
width: 6px;
height: 6px;
background: var(--cor-0);
border-radius: 50%;
margin-right: 4px;
border: 2px solid var(--cor-p10);
}
.faixa .vantagens li + li{
padding-top: 25px;
}
.faixa .preco-aula {
width: 102px;
padding: 15px 199px 0px 69px;
}
.button-matricule-se {
padding-top: 32px;
padding-bottom: 30px;
}
.item-aulas {
width: 230px;
height: 40px;
background: var(--cor-p8);
border-radius: 5px;
z-index: 3;
transition: 0.3s;
}
.item-aulas:hover {
opacity: 1;
background-color: var(--cor-p2);
transform: scale(1.1);
}
.item-aulas a {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
width: 100%;
height: 40px;
}
.item-aulas img {
margin-left: 80px;
}
.span-contato {
position: relative;
}
.span-contato:after {
content: "";
bottom: 0px;
right: 0px;
width: 100%;
height: 2px;
background: var(--cor-p10);
display: block; 
margin-top: 0px;
transition: 0.3s;
position: absolute;
}
.desconto {
padding-bottom: 57px;
padding-left: 20px;
padding-right: 20px;
}
@media (max-width:600px) {
.aulas-bg h1 {
font-size: 2.5rem;
}
.aulas .faixa {
max-width: 280px;
}
.faixa .vantagens{
max-width: 100%;
height: auto;
padding: 20px 0px 0px 29px;
}
.faixa .vantagens::after {
width: 220px;
}
.faixa .vantagens::before {
width: 220px;
}
.faixa h2 {
padding: 30px 0px 10px 0px;
}
.item-aulas {
max-width: 130px;
height: 40px;
}
.item-aulas img {
margin-left: 5px;
}
.faixa .preco-aula {
width: auto;
padding: 15px 0 0 40px;
text-align: start;
}
}