.aulas-bg {
background: var(--cor-p4);
position: relative;
}
.aulas-bg .imagem-ondas{
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -90px;
}
.aulas-bg h1 {
padding-top: 63px;
}
.aulas {
padding-top: 44px;
padding-bottom: 23px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 30px;
position: relative;
}
.aulas .faixa {
background-color: var(--cor-0);
width: 370px;
height: 414px;
border-radius: 5px;
}
.icone-logo {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
position: relative;
}
.faixa .icone-logo img {
position: absolute;
top: -21px;
}
.item-aulas {
width: 230px;
height: 40px;
background: var(--cor-p8);
border-radius: 5px;
z-index: 3;
transition: 0.3s;
}
.item-aulas:hover {
opacity: 1;
background-color: var(--cor-p2);
transform: scale(1.1);
}
.item-aulas a {
display: flex;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
width: 100%;
height: 40px;
}
.item-aulas img {
margin-left: 80px;
}
