.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.form label {
  display: block;
  font: 400 1rem/1.5 "Roboto", sans-serif;
  margin-bottom: 4px;
  color: var(--cor-13);
}
.form .col-2 {
  grid-column: span 2;
}
.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-2);
  border: 1px solid var(--cor-11);
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s ease-out;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  background: var(--cor-1);
  box-shadow: 0 0 0 2px var(--cor-p2);
}
@media (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
  font: 400 0.7rem/1.5 "Roboto", sans-serif;
}
}
